/* src/components/Dashboard.css */
.dashboard-container {
    text-align: center;
  }
  
  .dashboard-header {
    margin-bottom: 20px;
  }
  
  .dashboard-stock-list {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-stock-item {
    margin-bottom: 10px;
  }
  
  .dashboard-logout-button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dashboard-logout-button:hover {
    background-color: #ffcc00;
  }
  